.btn-primary {
    color: $white;
}
.btn{
    min-width: rem(116px);
}
.custom-switch {
    line-height: rem(22px);
    .custom-control-label:before {
	background-color: #1e1e1e;
	border: 1px solid #1e1e1e;
    }
    .custom-control-label:after{
	top: 3px;
	left: -52px;
	background-color: #414141;
    }
    .custom-control-input:checked~.custom-control-label:after {
	background-color: #fff;
    }
}
ul.list-style{
    padding-left: 0;
    list-style: none;
    li{
	padding-left: 1.5rem;
	position: relative;
	margin-bottom: 1rem;
	&::before {
	    content: "\2022";
	    color: $white;
	    font-weight: bold;
	    display: inline-block;
	    width: 1em;
	    position: absolute;
	    left: 0;

	}
    }
}
img{
    max-width: 100%;
    height: auto;
}
.icon {
    width: 1em;
    height: 1em;
    margin: 0 .5em;
    vertical-align: text-top;
}
.text-center{
    .form-control{
	text-align: center;
    }
}
.img-bg{
    background: url(../img/main-bg.jpg) 50% no-repeat;
    background-size: cover;
}
.modal-welcome{
    color: #b3b3b3;
    font-size: rem(14px);
}
.decor{
    position: relative;
    padding-bottom: rem(7px);
    &:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: rem(206px);
	background-color: $blue;
    }
}
/**/
#wrapper {
    display: flex;
    #content-wrapper {
	width: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	#content {
	    flex: 1 0 auto;
	}
    }
}
.sidebar {
    width: 6.5rem;
    min-height: 100vh;
    background-color: #292a2a;
    padding: rem(70px 16px 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-info{
    a{
	color: $blue;
	text-decoration: underline;
    }
}
.dashboard-menu{
    flex-direction: column;
    border-bottom: 1px solid #1e1e1e;
    padding-bottom: 2rem;
    li{
	padding: rem(10px 0);
	&.active,
	&:hover{
	    a{
		color: $white;
		background-color: #1e1e1e;
		.icon{
		    color: $blue;
		}
	    }
	}
    }
    a{
	color: #999999;
	display: inline-block;
	width: 100%;
	border-radius: 2rem;
	padding: rem(6px);
	transition: all .3s linear;
	.icon{
	    transition: all .3s linear;
	}
    }
    .home-link{
	a{
	    color: #fff;
	}
	border-top: 1px solid #1e1e1e;
	border-bottom: 1px solid #1e1e1e;
    }
}
.dropdown.no-arrow .dropdown-toggle::after {
    display: none
}
.topbar{
    min-height: rem(70px);
    .navbar-nav{
	align-items: center;

	.nav-item + .nav-item{
	    border-left: 1px solid #292a2a;
	}
	.icon{
	    font-size: 1rem;
	}
	.nav-link {
	    padding-right: 1rem;
	    padding-left: 1rem;
	    font-size: rem(14px);
	}
    }
    .badge{
	position: absolute;
	top: 0;
	right: 10px;
	color: #fff;
	border-radius: 50%;
	font-size: 10px;
    }
    .alerts{
	position: relative;
	a{
	    color: #4f4f4f;
	    @include hover-focus{
		color: #fff;
	    }
	}
    }
    .sidebar-toggler{
	background: none;
	border: 0 none;
	padding: 0;
	.icon{
	    color: #4f4f4f;
	    font-size: rem(18px);
	}
    }
}
.top-heading{
    padding: 1rem 0;
    align-items: center;
    .custom-control-label{
	margin-left: 1rem;
    }
}
.data-box{
    max-width: rem(640px);
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    .h3{
	margin-bottom: .8rem;
    }
    .value{
	font-size: rem(48px);
    }
}