.btn-primary {
    color: $white;
}
ul{
    padding-left: 0;
    list-style: none;
    li{
	padding-left: 1.5rem;
	position: relative;
	margin-bottom: 1rem;
	&::before {
	    content: "\2022";
	    color: $white;
	    font-weight: bold;
	    display: inline-block;
	    width: 1em;
	    position: absolute;
	    left: 0;

	}
    }
}
.img-bg{
    background: url(../img/main-bg.jpg) 50% no-repeat;
    background-size: cover;
}
.modal-welcome{
    color: #b3b3b3;
    font-size: rem(14px);
}
.decor{
    position: relative;
    padding-bottom: rem(7px);
    &:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: rem(206px);
	background-color: $blue;
    }
}