@include media-breakpoint-up(sm) {
    .modal-welcome{
	.btn{
	    min-width: 400px;
	}
    }
    .sidebar {
	.sidebar-toggler.mobile{
	    display: none;
	}
    }
}
@include media-breakpoint-up(md) {
    html{
	font-size: 14px;
    }
    .modal-sm {
	max-width: 460px;
	.modal-body{
	    padding: rem(16px 30px);
	}
    }
    .container-fluid {
	padding-left: rem(50px);
	padding-right: rem(50px);
    }
}
@include media-breakpoint-up(lg) {
    html{
	font-size: 16px;
    }
    .modal-lg{
	.modal-body{
	    padding: rem(20px 43px);
	}
    }
}
@include media-breakpoint-up(xl) {
    .top-heading{
	.col-auto + .col-auto{
	    margin-left: 2rem;
	}
    }
    .data-box{
	.value{
	    font-size: rem(48px);
	}
    }
}
@include media-breakpoint-down(lg) {
    .top-heading{
	.col-auto{
	    margin-bottom: 1rem;
	}
    }
    .bottom-heading{
	.btn{
	    margin-bottom: 1rem;
	}
    }
}
@include media-breakpoint-down(md) {
    .sidebar{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	&.show{
	    display: none;
	}
	&.collapse:not(.show) {
	    display: flex;
	}
    }
}
