@include media-breakpoint-up(sm) {
    .modal-welcome{
	.btn{
	    min-width: 400px;
	}
    }
}
@include media-breakpoint-up(md) {
    html{
	font-size: 14px;
    }
    .modal-sm {
	max-width: 460px;
	.modal-body{
	    padding: rem(16px 30px);
	}
    }
    .sidebar {
	width: rem(224px);
    }
    .container-fluid {
	padding-left: rem(50px);
	padding-right: rem(50px);
    }
}
@include media-breakpoint-up(lg) {
    html{
	font-size: 16px;
    }
    .modal-lg{
	.modal-body{
	    padding: rem(20px 43px);
	}
    }
}