<% var data = {
title: "Sitemap | GridIO!",
author: "Harrix",
bodyClass: "modal-open"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div id="wrapper">
    <div class="sidebar">
	<ul class="nav dashboard-menu">
	    <li class="home-link">
		<a href="#">
		    <svg class="icon">
		    <use xlink:href="./img/sprite.svg#tachometer"></use>
		    </svg>
		    Dashboard
		</a>
	    </li>
	    <li class="active mt-3">
		<a href="#">
		    <svg class="icon">
		    <use xlink:href="./img/sprite.svg#user"></use>
		    </svg>
		    Customer view
		</a>
	    </li>
	    <li>
		<a href="#">
		    <svg class="icon">
		    <use xlink:href="./img/sprite.svg#chart-area"></use>
		    </svg>
		    Operator view
		</a>
	    </li>
	    <li>
		<a href="#">
		    <svg class="icon">
		    <use xlink:href="./img/sprite.svg#car-battery"></use>
		    </svg>
		    Devices
		</a>
	    </li>
	</ul>
	<div class="contact-info mt-4">
	    <p>Contact support</p>
	    <p class="mb-1"><a href="https://pks.fi/" target="_blank">www.pks.fi</a></p>
	    <p><a href="https://gridio.io" target="_blank">www.gridio.io</a></p>
	</div>
    </div>
    <div id="content-wrapper">
	<div id="content">

	</div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>