<% var data = {
title: "Sitemap | GridIO!",
author: "Harrix",
bodyClass: "modal-open"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div id="wrapper">
<div class="sidebar">
    <ul class="nav dashboard-menu">
	<li class="home-link"><a href="#">Dashboard</a></li>
	<li><a href="#">Customer view</a></li>
	<li><a href="#">Operator view</a></li>
	<li><a href="#">Devices</a></li>
    </ul>
</div>
    <div id="content-wrapper">
	<div id="content">
	    <h1>sdfdg</h1>
	</div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>