<% var data = {
title: "Sitemap | GridIO!",
author: "Harrix",
bodyClass: "modal-open"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="modal d-block img-bg modal-welcome">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
	<div class="modal-content">
	    <div class="modal-body">
		<h2 class="h3 decor">Sitemap</h2>
		<ul>
		    <li><a href="register.html">Register</a></li>
		    <li><a href="welcome.html">Welcome</a></li>
		    <li><a href="dasboard-1.html">Dasboard</a></li>
		</ul>
	    </div>
	</div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>