<% var data = {
title: "Welcome to GridIO! | GridIO!",
author: "Harrix",
bodyClass: "modal-open"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="modal d-block img-bg modal-welcome">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
	<div class="modal-content">
	    <div class="modal-body">
		<h1 class="h1 text-center">Welcome to GridIO!</h1>
		<h2 class="h2 decor">GridIO’s portal</h2>
		<p>Welcome to GridIO. You are now ready to start extra revenue using your connected appliances while helping to balance the grid in a zero-carbon way.</p>
		<h2 class="h2 decor">What happens now?</h2>
		<p>We will occasionally limit the power use of your connected device for a very short period of time (never more than 15 minutes, and usually less than 2 minutes). </p>
		<p>You, together with other households on GridIO’s platform, will collectively earn money from the grid operator by offering them the value of your consumption flexibility. </p>
		<p>GridIO will distribute these earnings at the end of each accounting period to your virtual account. </p>
		<p>You can monitor the progress of your earnings and your electricity consumption on GridIO’s mobile app or web portal. </p>
		<h2 class="h2 decor">The GridIO Intelligent Controller</h2>
		<p>The electrician has now successfully installed the device in your electrical cabinet. You no longer need to interact with the Controller – everything we do, will be visible through the App and the Web Portal.</p>
		<p>In the rare occasion, that we have switched off power to your household appliances, but you want to turn the power back on, please carefully open the electrical cabinet and press the button on the Controller to flip the power supply. </p>
		<p>Here are what the different light patterns mean on the Controller button:</p>
		<ul>
		    <li>Slow blinking of LED light – Controller is operating normally and the power supply to your devices is  unrestricted.</li>
		    <li>Rapidly blinking LED light – Controller is operating normally and the power supply to your devices has been restricted.</li>
		    <li>LED light is permanently on or off – please contact your supplier who can reset the power to the Controller or replace it should normal operation not resume.</li>
		</ul>
		<p>For any questions, contact your local Electricity Supplier who will be able to put you in touch with GridIO if required.</p>
	    </div>
	</div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>